{% extends "base.html.twig" %}
{% block titre %}Gestion Clientèle{% endblock %}
{% block contenu %}
<div class="col-md-6">
          
        <form action="index.php" method="POST" >

            <div class="form-group">
                <label for="nomCli">Nom </label>
                <input type="text" class="form-control" id="nomCli" name="nomCli"/>
            </div>
            <div class="form-group">
                <label for="prenomCli">Prénom </label>
                <input type="text" class="form-control" id="prenomCli" name="prenomCli" />
            </div>
            <div class="form-group">
                <label for="dateNaissCli">Date de naissance</label>
                <input type="date"class="form-control" id="dateNaissCli" name="dateNaissCli" />
            </div>
            <div class="form-group">
                <label for="adressCli">Adresse complète</label>
                <input type="text" class="form-control" id="adressCli" name="adressCli" />
            </div>
            <div class="form-group">
                <label for="numCli">Numéro de téléphone</label>
                <input type="tel" class="form-control"id="numCli" name="numCli" />
            </div>
            <input type="hidden" name="ajoutCli" />
            <input type="submit" class="form-control" value="Ajouter un client"/>
        </form>

        <h3>Mes clients</h3>
        <table class="table">
            <thead class="thead-dark">
                <th>Nom et Prénom</th>
                <th>Date de naissance</th>
                <th>Adresse</th>
                <th>Numéro de téléphone</th>
                <th><i class="fas fa-pen"></i></th>
            </thead>
            <tbody>
                {% for cli in listeClients %}
            <tr class="table-primary">
                <td>{{cli.nomCli}}  {{cli.prenomCli}}</td>
                <td>{{cli.dateNaissCli}}</td>
                <td>{{cli.adressCli}}</td>
                <td>{{cli.numCli}}</td>
                <td><a href="index.php?page=rdv&idCli={{cli.idCli}}" title="Prévoir une prestation"><i class="fas fa-pen"></i></a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}