{% extends "base.html.twig" %}
{% block titre %}Nouveau rendez-vous{% endblock %}
{% block contenu %}
        <div class='col-md-4'>
        <h3>Prise de rendez-vous</h3>
        <form action="index.php?page=rdv" method="POST">
            <div class="form-group">
                <label for="datePresta">Date à prévoir</label>
                <table>
                    <tr>
                        <td><input type="date" class="form-control" id="datePresta" name="datePresta" /></td>
                        <td><label for="heurePresta"> à </label></td>
                        <td><input type="time" class="form-control" id="heurePresta" name="heurePresta" /></td>
                        
                    </tr>
                </table>
                
                
            </div>
            <div class="form-group">
                <label for="typePres">Type de prestation</label>
                <select name="typePres" id="typePres" class="form-control">
                   {% for pres in prestations %}
                                <option value="{{pres.idPres}}">{{pres.libellePres}}</option>
                            {% endfor %}

                </select> 
            </div>
            <table>
                <tr>
                    <td>Activité(s) pendant prestation</td>
                    <td style="text-align: right;">Matériel nécessaire</td>
                </tr>
                <tr>
                    <td>            
                        <div class="form-group">
                            <div class="form-check">
                                 {% for act in activites %}
                                     <input type="checkbox" name="activite[]" value="{{act.idAct}}" /> {{act.nomAct}}
                                     <br />
                                 {% endfor %}
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <div class='form-check'>
                                {% for mat in materiels %}
                                     <input type="checkbox" name="materiel[]" value="{{mat.idMat}}" /> {{mat.nomMat}}
                                     <br />
                                {% endfor %}
                            </div>
                        </div>  
                    </td>
                </tr>
            </table>
            <div class="form-group">
                <label for="moyenPaiement">Moyen de paiement</label>
                <select class="form-control" name="moyenPaiement">
                    <option value="Carte Bancaire">Carte bancaire</option>
                    <option value="Cheque">Chèque</option>
                    <option value="Espece">Espèce</option>
                </select>
            </div>
        <label>Prix HT : .. €</label>
            <br/>
            <input type="submit" value="Valider"/>
        </form>
        
    </div> 
        <div class='col-md-4'>
            <div class="card">
                <h3>Informations client</h3>
                {% if clients.unCli is defined %}
                    <div class="card-body">Nom : {{clients.unCli["nomCli"] }}<br /> Prénom : {{clients.unCli["prenomCli"] }}<br /> Adresse :  {{clients.unCli["adressCli"] }}<br />Numéro de téléphone :    {{clients.unCli["numCli"] }} </div>
                {% else %}
                    <form action="index.php?page=rdv" method="POST">
                    <div class="form-group">
                        <label for="choixClient">Selectionnez un client </label>
                        <input type="hidden" name="infos_cli" />
                        <select name="choixClient" id="choixClient" class="form-control" onChange="this.form.submit()">
                            <option value=''></option>
                            {% for cli in clients %}
                                <option value="{{cli.idCli}}">{{cli.nomCli}} {{cli.prenomCli}}</option>
                            {% endfor %}
                        </select>
                        <a href="index.php">Le client n'existe pas</a>
                    </div>
                </form>
                {% endif %}
                
                
            </div>
        </div>
{% endblock %}